<html>
<!--
Test page during development.
-->
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>

    <link rel="stylesheet" href="lib/jquery.mobile.css"/>

    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.mobile.js"></script>
    <script src="lib/angular.js"></script>
    <script src="jqm-angular.jsp"></script>

    <script>
        function Controller($scope) {
            $scope.data = {};
        }


    </script>

</head>
<body ng-app="ng">

<div id="main" data-role="page">
    <div data-role="controlgroup">
    <input type="radio" ng-model="radio1" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
    <label for="radio-choice-1">Cat</label>

    <input type="radio" ng-model="radio1" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
    <label for="radio-choice-2">Dog</label>

    <input type="radio" ng-model="radio1" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
    <label for="radio-choice-3">Hamster</label>

    <input type="radio" ng-model="radio1" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
    <label for="radio-choice-4">Lizard</label>

    {{radio1}}
    </div>
</div>

​​
</body>

</html>